<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.0.0.100-embeddingpreview" targetFramework="portable45-net45+win8+wpa81" />
</packages>